---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.tsx';
import Nav from '../components/Nav/index.tsx';
---

<html lang="en">
	<head>
		<MainHead title="About | Masaki Sanada" description="About Jeanine White Lorem Ipsum" />
		<style lang="scss">
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
			.educational {
				
			}
			.bio {
				line-height: 2;
				margin-bottom: 2rem;

				> span:first-of-type {
					line-height: 1;
					margin-bottom: 0.5em;
					display: block;
					font-weight: 700;
					font-size: var(--f-u4);
				}
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Masaki Sanada</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.unsplash.com/photo-1581977012607-4091712d36f9?auto=format&fit=crop&w=1400&h=350&q=75"
				/>
			</div>
			<main class="wrapper mt4 mb4">
			<div class="section">
				<div class="bio">
					<h2>学歴</h2>
						<div class="educational">
							2015年 4月 奈良工業高等専門学校情報工学科 入学 <br>
							2020年 3月 奈良工業高等専門学校情報工学科 卒業 <br>
							2020年 4月 奈良工業高等専門学校情報工学科 専攻科 入学 <br>
							2022年 3月 奈良工業高等専門学校情報工学科 専攻科 卒業 <br>
							2022年 4月 奈良先端科学技術大学院大学 先端科学技術研究科 入学 <br>
						</div>
					<h2>職歴</h2>
							2022年 11月 (1ヶ月) 株式会社リクルート インターン <br>
							2023年 3月 (1ヶ月) 株式会社ヤプリ インターン <br>
							2022年 9月 (-現在) 株式会社pinebase 開発アルバイト <br>
					</div>
				</div>
			</div>
			<div class="section">
				<h2>スキル</h2>
				<div class="bio">

				</div>
			</div>
		</main>
		</div>
		<Footer />
	</body>
</html>
<!-- ../components/Footer../components/Nav/index.js -->